[data-hook="management_login_navigation_bar"] ul {
  text-align: right;
}
[data-hook="management_login_navigation_bar"] ul li {
  padding: 5px 0 5px 10px;
  text-align: right;
  font-size: 90%;
  color: #5fa5e8;
  margin-top: 8px;
}
[data-hook="management_login_navigation_bar"] ul li[data-hook="user-logged-in-as"] {
  width: 50%;
  color: #6788a2;
}
[data-hook="management_login_navigation_bar"] ul li:hover i {
  color: #9fc820;
}
