<div data-hook="provider_show">

  <div class="columns six alpha" data-hook="provider_left_part">
    <h1><%= @provider.name %></h1>
  </div>

  <div class="columns ten omega" data-hook="provider_right_part">
  </div>

</div>